body {
  background-color: #d0c8d8;
  font-family: "微軟正黑體" , "xingothic-tc-w6","jf-jinxuan-ultralight", sans-serif, apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

.header {
  background: url(https://unsplash.it/1080/720?image=1044);
  background-size: cover;
  color: #fff;
  position: relative;
}

.color-overlay {
  padding: 3em 2em;
  box-sizing: border-box;
  background: rgba(123, 94, 155, 0.5);
}

.day-number {
  font-size: 4em;
  display: inline-block;
  margin-right: 15px;
}

.date-right {
  display: inline-block;
}

.day-name {
  font-size: 1.6em;
}

.day-count{
  text-align: right;
}

.day-count > span{
  font-size: 2em;
}

.month {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 2px;
}

.app {
  display: flex;
  flex-direction: column;
}

.timeTags {
  display: flex;
  flex-direction: column;
}

.timeTags>div>section {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 10px rgb(235, 195, 243) solid;
  background-color: rgb(227, 192, 238);
  color: #6573c1;
  min-width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeTags>div>section a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.timelines {
  display: flex;
}

.timelineBlocks {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timeline {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  height: 1000px;
}

.timeline>header {
  height: 100px;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  border: 10px solid #d0c8d8;
  border-radius: 20px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 186, 228);
  transition: 2s background-color;
}

.timeline>header:hover{
  background-color: #a10dd0;
  cursor: pointer;
}

.line {
  width: 4px;
  height: calc(100% - 140px);
  background-color: #d9d9d9;
  position: absolute;
  top: 130px;
  left: 50%;
  z-index: -1;
}

.timePoint{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border:  8px #2f90d8 solid;
  box-sizing: border-box;
  margin-left: -6px;
  position: absolute;
}


/* arrow-to-next */

.arrow-to-next {
  box-sizing: border-box;
}

.arrow-to-next {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
  transform: rotate(90deg);
}
.arrow-to-next:before, .arrow-to-next:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.2s linear;
}
.arrow-to-next:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow-to-next:hover:after, .arrow-to-next:hover:before {
  background: #777;
}
.arrow-to-next:active:after, .arrow-to-next:active:before {
  background: #111;
}
